.func{
    background-color: transparent;
    font-size: 15px;
}

.func-container {
    display: flex;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 15px;
    color: var(--cor-2);
    z-index: 1; 
}

.func-container-ex{
    display: none;
    position: absolute;
    background: var(--cor-1);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 15px;
    color: var(--cor-2);
    z-index: 2;
}

.func-radio input{
    display: none;
}

.func-radio input + label::before{
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--cor-2);
    border: 1px solid var(--cor-0);
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
}

.func-radio input:checked + label:before {
    background-color: var(--cor-2);
    box-sizing: border-box;
    border: 5px solid var(--cor-0);
    padding: 4px;
}


