.admin{
    background-color: transparent;
    font-size: 8.5px;
}

.admin-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.admin-tamanho-img{
    width: 80%;
}


/* Campos de Data */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--cor-2);
    font-size: 0.9rem;
}

.input-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid var(--cor-0);
    border-radius: 5px;
    font-size: 0.9rem;
}